#sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}
.sidebarmain{
    width: 90px;
    transition: all 0.5s ease;
}
.sidebarmain.active{
    width: 315px;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

}
.sidebarmain.active #logoContainer{
    opacity: 1;
    pointer-events: none;
}
#logoContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
#logoContainer .ecst{
    white-space: nowrap;
}
#btn{
    position: absolute;
    left: 23%;
    top:4%;
    height: 50px;
    width: 50px;
    text-align: left;
    line-height: 50px;
    transform: translateX(10%);
    transform: translateY(-30%);
    transition: all 0.5s ease;
    font-size: 50px;
    border-radius: 12px;
    cursor: pointer;
    
}
#btn:hover{
    background-color: #ececec;
    color: #0a3229;
}
.sidebarmain.active #btn:hover{
    background: none;
    color: #ececec;
}

.sidebarmain.active #btn{
    left: 87%;
    top:0%;
    font-size: 20px;
    background-color: none;
}


#sidebar ul{
    margin-top: 20px;
    margin-left: -40px;
}

#sidebar ul li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height:50px;
    white-space: nowrap;
}
#sidebar ul li .labels{
    opacity: 0;
    pointer-events: none;
}
#sidebar.active ul li .labels{
    opacity: 1;
    pointer-events: auto;
}

#sidebar ul li .tooltips{
    position: absolute;
    left:70px;
    top: 0;
    height: 35px;
    width: 122px;
    background-color: #ececec;
    box-shadow: 5 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    color: #0a3229;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
#sidebar ul li:hover .tooltips{
    top: 50%;
    opacity: 1;
    transition: all 0.5s ease;
}
#sidebar.active ul li .tooltips{
    display: none;
}
#sidebar ul #searchBar{
    margin-top: -30px;
    transition: all 0.5s ease;
}

#sidebar.active ul #searchBar{
    margin-top: 0px;
}

#sidebar ul li input{
    position: absolute;
    height: 50px;
    width: 100%;
    left: -1px;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    line-height: 50px;
    background-color: #0b4437;
    color: #ececec;
    padding-left: 50px;
    font-size: 17px;
}

::placeholder{
    color: #ececec;
}
#sidebar ul li #searchbtn:hover{
    background-color: #ececec;
    color: #0a3229;
}
#sidebar ul li #searchbtn{
    border-radius: 12px;
    position:absolute;
    z-index: 99;
    top: 0;
    font-size: 18px;
    color: #ececec;
    transition: all 0.5s ease;
    cursor: pointer;
}


#sidebar ul li a{
    text-decoration: none;
    color: #ececec;
    display: flex;
    align-items: center;
    transition: all 0.25s ease-in-out;
    border-radius:12px;
}
#sidebar ul li a:hover{
    color: #0a3229;
    background-color: #ececec;
}

#sidebar ul li i{
    margin-right: 10px;
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}

#sidebar .profile_info {
    position:absolute;
    bottom:2%;
    left:0; 
    background-color: #246858;
    margin-bottom: -18px;
    padding-bottom: 15px;
}



#sidebar .profile_info .profile{
    position: relative;
    padding: 10px 0px;
    height: 60px;
    width: 100%;
}
#sidebar .profile_info .profile .profile_details{
    text-align: center;
}

#sidebar .profile_info .profile .profile_details span{
    font-weight: 500;
    font-size: 12pt;
}
#sidebar .profile_info .profile .profile_details .name{
    margin-left: 10px;
}

#sidebar .profile_info .profile .profile_details img{
    float:left;

}
#logOut{
    position: absolute;
    left: 85%;
    bottom: -25px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-300%);
    transform: translateY(-30%);
}

#sidebar.active .icons{
    display: inline-block;
    opacity:1;
    bottom: 0%;
    left: 26%;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    white-space: nowrap;
}

#sidebar.active #twitter{
    margin-left: 15.5%;
    float: none;
    margin-top: 0px;
}
#sidebar.active #facebook{
    margin-left: 0px;
    float: none;
    margin-top: 0px;
}

#sidebar.active #google{
    margin-left: 31.5%;
    float: none;
    margin-top: 0px;
}
.icons{
    position: absolute;
    left: 1%;
    bottom: 20px;
    font-size: 20px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 24px;
    transform: translateX(-300%);
    transform: translateY(-30%);
    opacity:1;
    transition: all 0.5s ease;
    cursor: pointer;
}
#facebook{
    transition: all 0.5s ease;
    border-radius: 3px;
    float: left;
    margin-top: -50px;
    
}
#facebook:hover{
    background-color: #ececec;
    color: #246858;
}

#twitter{
    margin-left: 30px;
    float: left;
    margin-top: -50px;
    transition: all 0.5s ease;
    border-radius: 3px;
}
#twitter:hover{
    background-color: #ececec;
    color: #246858;
}
#google{
    margin-left: 60px;
    float: left;
    margin-top: -50px;
    transition: all 0.5s ease;
    border-radius: 3px;
}
#google:hover{
    background-color: #ececec;
    color: #246858;
}

/*#moodle{
    margin-left: 40px;
    float: left;
    margin-top: 590px;
    transition: all 0.5s ease;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    position: absolute;
}
#moodle:hover{
    background-color: #ececec;
    color: #246858;
}*/

#heading1{
    margin-left: 12px;
    font-size: 3vw;
    font-weight: 400;
    margin-top: -34px;
}

#sidebar .info{
    opacity: 0;
    transition: all 0.5s ease;
}
#sidebar.active .info{
    opacity: 1;
}
.title{
    top: -15px;
    position:absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    white-space: pre;
    display: inline-block;
    color: white;

}
#sidebar.active ~ .title{
    width: calc(100% - 300px);
    left: 300px;
}

#imageBackground{
    width: 100%;
    height: 110vh;
    background-image: url(/images/bg-ecst.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    top:0;
}

#whiteBox{
    width: 100%;
    height: 100%;
    top: 0;
    /*background-color: #ececec;
    transform: translateX(30%);
    transform: translateY(10%);*/
}
#whiteBox pre{
    font-size: 1vw;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #7a7a7a;
}
#whiteBox pre h3{
    color: #333;
    font-size: 1.5vw;
}

#whiteBox img{
    width: 50vh;
    height: 50vh;
    float: left;
    margin-top: 50px;
    margin-left: 300px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}
#whiteBox img:hover{
    transform: scale(1.02); 
}

#imageBackgroundNotebook{
    background-image: url(/images/book.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: block;
    background-attachment: fixed;
}

#eduContent{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50vh;
    color: #ececec;
    padding-left: 120px;
    padding-top: 30px;
}
#eduContent p{
    margin-left: auto;
    text-align: top center;
    font-size: 20px;
    font-family: Roboto;
}

#footer{
    width: 100%;
    height: 175px;
    background-color: #333;
    padding-left: 125px;
    padding-top: 30px;
}
#footer p{
    color: #cdcdcd;
}
#footer h3{
    color: #ececec;
}
